@media screen and (max-width 401px);

.page{
   text-align: center;
   font-size: 40px;
    }    
    
    .menu{
        background: rgb(97, 132, 228);
        height: 80px;
    }
    
    .header{
    background: rgb(134, 208, 224);
    padding: 60px;  
    }
    
    .content{
    background: rgb(216, 233, 236);
    padding: 140px; 
    }

   
    .sign-up{
    background: rgb(193, 230, 252);
    padding: 60px; 
    }

    .feature-1{
    background: rgb(231, 196, 121);
    padding: 70px;  
    }

    .feature-2{
    background: rgb(231, 113, 139);
    padding: 70px; 

    }
    
    .feature-3{
    background: rgb(145, 162, 206);
    padding: 70px;    
    }

   

    